<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/public/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="../public/js/form.js" type="text/javascript"></script>
  <title>Output File</title>
</head>


<body>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">WebBeamer</span>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/try"></a>
      </li>
    </ul>

    <span class="navbar-text">
      - by Nidhin Harilal (cryptonymou9)
    </span>
  </nav>



  <div class="first">
      <div class="form-group">
          <!-- <label for="inputTitle">Working Directory</label> -->
          <embed src="../node_out.pdf" type="application/pdf"   height="800" width="1200">
        </div>

    </body>

</html>