
.first {
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;


}

.second {
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;

}

.textfield{
    width: 75%;
}

.row{
    padding-top: 2%;
}
